# 配置私有库 registry
registry=http://nexus.limonergy.com:8081/repository/limo-npm/

# 使用用户名和密码进行认证
//nexus.limonergy.com:8081/repository/limo-npm/:_password=TGF1cDUzMjI1N0A=
//nexus.limonergy.com:8081/repository/limo-npm/:username=liujiangpu