.er-icon {
    --er-icon-color: inherit;

    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    font-size: inherit;
    color: var(--er-icon-color);
    fill: currentColor;
}

/* @each $val in primary, info, success, warning, danger { */

/*    .er-icon--$(val) { */

/*    --er-icon-color: var(--er-color-$(val)); */

/* } */

/* } */

.er-icon--primary {
    --er-icon-color: var(--er-color-primary);
}

.er-icon--info {
    --er-icon-color: var(--er-color-info);
}

.er-icon--success {
    --er-icon-color: var(--er-color-success);
}

.er-icon--warning {
    --er-icon-color: var(--er-color-warning);
}

.er-icon--danger {
    --er-icon-color: var(--er-color-danger);
}
